body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    background: url('images/bg.jpg') no-repeat center center;
    background-size: cover;
}


#container {
    height: auto;
    max-width: 700px;
    width: 100%;
    margin: 40px auto;
    padding: 0 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    box-sizing: border-box;
}

#nav {
    background-color: rgba(0,0,0, 0.5);
    min-height: 300px;
    border-radius: 25px 0 0 0;
    margin: 0 0 10px;
    padding: 10px 0;
}

.alert {
    display: none;
    color: #000;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    background-color: rgba(0,0,0, 0.7);
    border: 1px solid rgba(213, 42, 42, 0.69);
    color: rgba(213, 42, 42, 0.69);
    margin: 30px auto 0;
    padding: 5px;
    width: 70%;
    border-radius: 20px;
}

h1 {
    margin: 0;
    padding: 30px;
    text-align: center;
    color: #eeeeee;
    font-size: 44px;
    letter-spacing: 5px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

#form {
    text-align: center;
}

input[type=text] {
    width: 70%;
    background-color: rgba(255,255,255,.1);
    color: #dddddd;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin: 10px auto 0;
    display: inline-block;
}

input[type=image] {
    display: inline-block;
    position: relative;
    top: 25px;
    right: 5px;
    margin-left: -50px;
    outline: none;
    width: 70px;
    height: 70px;
}

#list {
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    display: block;
}

#list li.work {
    height: 30px;
    display: block;
    background-color: rgba(0,0,0,.5);
    color: #dddddd;
    padding: 10px;
    display: none;
    margin-top: 5px;
}

.text_bar {
    float: left;
}

#brak {
    text-align: center;
    font-size: 24px;
    border-radius: 0 0 25px 0;
    display: block;
    color: #bbbbbb;
    background-color: rgba(0,0,0,.4);
    margin-top: 5px;
    padding: 10px;
}

.button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.buttons_bar {
    float: right;
}

#list li.work.tick {
    background-color: rgba(84, 156, 128, 0.57);
    border-bottom: 1px solid darkslategray;
}

#edit_place {
    width: 400px;
    height: auto;
    color: #dddddd;
    background-color: rgba(255,255,255,.3);
    margin: 0;
    border: 0;
    font-size: 18px;
    padding: 5px 10px;
}


@media screen and (max-width: 700px) {
   #container {
      top: 50px;
   }
}
